@use 'sass:color';
@use 'sass:math';

@import 'variables';
@import 'utils';

:root {
  // Theme colors

  --primaryColor: #{$primaryColor};
  --secondaryColor: #{$secondaryColor};

  --bs-primary: #{$primaryColor};
  --bs-secondary: #{$secondaryColor};

  --violet-light-color: #{$violetLightColor};
  --violet-medium-color: #{$violetMediumColor};

  --violet-light-color-rgb: #{rgbComponents($violetLightColor)};
  --violet-medium-color-rgb: #{rgbComponents($violetMediumColor)};

  --bs-primary-rgb: #{rgbComponents($primaryColor)};
  --bs-secondary-rgb: #{rgbComponents($primaryColor)};

  // Timeouts...

  --momentTimeMs: #{$momentTimeMs};
  --transitionTimeMs: #{$transitionTimeMs};
  --animationTimeMs: #{$animationTimeMs};
  --effectTimeMs: #{$effectTimeMs};
}
