@use "sass:color";

.Benefits {
  .bottom-description {
  }

  .benefits-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--bs-box-shadow);
    color: #fff;

    $bgGradient: linear-gradient(150deg, rgba(var(--violet-light-color-rgb), .10), rgba(var(--bs-primary-rgb), .15));
    $iconGradient: linear-gradient(135deg, $violetLightColor, $violetMediumColor);
    background: $bgGradient;
    // background-color: $primaryColor;
    // opacity: .85;

    p {
      color: #2d3748;
    }

    .icon-wrapper {
      font-size: 2.5em;
      color: #fff;
      $size: 120px;
      width: $size;
      height: $size;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      // background: $iconGradient;
      background-color: #fff;
      // background-color: color.mix(#fff, $violetLightColor, 60%);
      color: #fff;
    }

    .benefits-title {
      // color: #2d3748;
      color: $primaryColor;
      // color: #fff;
      font-weight: 600;
    }

    .benefits-text {
      // color: #718096;
      font-size: 0.95rem;
    }
  }
}
