@use "sass:color";

@import "shared";

.TopBenefits {
  .rounded {
    background-color: color.change($primaryColor, $alpha: 0.8);
    border-radius: 20px !important;
  }
  h3, p {
    color: #fff !important;
  }
  .Icon {
    $size: 80px;
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    i {
      color: $primaryColor;
      display: block;
      margin: 0;
    }
  }
}

.lazy-load {
  display: inline-block;
}

.rounded-lg {
  border-radius: 10px !important;
}
.rounded-xl {
  border-radius: 20px !important;
}

.activeTextLink {
  @include activeTextLink;
}
.activeBasicLink {
  @include activeBasicLink;
}
.activeTextLinkWrapper {
  @include activeTextLinkWrapper;
}
.activeBasicLinkWrapper {
  @include activeBasicLinkWrapper;
}

