@use "sass:color";

@import "shared";

.HeroSection {
  .HeroClip {
    // border: 1px solid red;
    z-index: 10;
  }
  .HeroWrapper {
    overflow: hidden;
    max-height: 332px;
    max-width: 400px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
  }
  .HeroImage {
    max-width: 100%;
    border-radius: 45px;
    @media (width < 992px) and (width >= 768px) {
      border-radius: 37px;
    }
    @media (width < 440px) {
      border-radius: 10vw;
    }
    @media (width < 320px) {
      border-radius: 9vw;
    }
  }
}
