<!-- Benefits {{{ -->
<section id="usage" class="Benefits section pt-4 pb-5">

  <div class="container">

    <div class="row text-center mb-5">
      <div class="col">
        <h2 class="color-primary">It's a Perfect Solution</h2>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 g-4">

      <!-- benefits-card -->
      <div class="col-lg-4">
        <div class="benefits-card h-100 p-4">
          <div class="icon-wrapper mb-4">
            <img src="images/icons/media.svg" width="90" height="90" />
          </div>
          <!-- <h4 class="benefits-title text-center mb-3">Start Chat</h4> -->
          <p class="benefits-text text-center mb-0">For listening to talk shows, music, or videos that don’t contain a lot of video content.</p>
        </div>
      </div>

      <!-- benefits-card -->
      <div class="col-lg-4">
        <div class="benefits-card h-100 p-4">
          <div class="icon-wrapper mb-4">
            <img src="images/icons/busy.svg" width="90" height="90" />
          </div>
          <!-- <h4 class="benefits-title text-center mb-3">Select Usage Plan</h4> -->
          <p class="benefits-text text-center mb-0">For busy users who prefer audio over video or who find it more convenient to listen to podcasts on the go.</p>
        </div>
      </div>

      <!-- benefits-card -->
      <div class="col-lg-4">
        <div class="benefits-card h-100 p-4">
          <div class="icon-wrapper mb-4">
            <img src="images/icons/lock.svg" width="95" height="95" />
          </div>
          <!-- <h4 class="benefits-title text-center mb-3">Send YouTube Link</h4> -->
          <p class="benefits-text text-center mb-0">Essential to circumvent censorship blocks (as, for example, in modern Russia, where YouTube is
              blocked, but Telegram is still available).</p>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- Benefits }} -->
