<!-- Pricing {{{ -->
<section id="pricing" class="Pricing section pt-0">

  <div class="container py-4">
    <div class="row text-center mb-5">
      <div class="col">
        <h2 class="color-primary">Available Usage Plans</h2>
        <p class="section-description text-muted">You can use a <strong>GUEST</strong> usage plan, available by default, request an experimental <strong>FREE</strong> plan (also free at the moment), or pay for an unlimited <strong>PAID</strong> plan. You can see all the plains details right in the bot via <code>/plans</code> command.</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 g-4">

      <!-- GUEST -->
      <div class="col">
        <div class="card h-100 pricing-card">
          <div class="card-body p-5">
            <h5 class="card-title mb-4">GUEST</h5>
            <div class="price d-flex gap-1 align-items-center mb-4">
              <img src="images/icons/telegram-star.svg" width="42" height="42" />
              <h1 class="display-5 m-0">0<small class="fw-light">/mo</small></h1>
            </div>
            <ul class="list-unstyled feature-list">
              <li><i class="bi bi-check2 me-2"></i>2 audio file downloads</li>
              <li><i class="bi bi-check2 me-2"></i>2 info requests</li>
            </ul>
            <p>This mode is intended only for familiarization with the service in trial mode.</p>
            <!-- <button class="btn btn-outline-primary btn-lg w-100 mt-4">Get Started</button> -->
          </div>
        </div>
      </div>

      <!-- Enterprise Plan -->
      <div class="col">
        <div class="card h-100 pricing-card">
          <div class="card-body p-5">
            <h5 class="card-title mb-4">FREE</h5>
            <div class="price d-flex gap-1 align-items-center mb-4">
              <img src="images/icons/telegram-star.svg" width="42" height="42" />
              <h1 class="display-5 m-0">0<small class="fw-light">/mo</small></h1>
            </div>
            <ul class="list-unstyled feature-list">
              <li><i class="bi bi-check2 me-2"></i>10 audio file downloads/mo</li>
              <li><i class="bi bi-check2 me-2"></i>10 info requests/mo</li>
            </ul>
            <p>Currently, this data plan is available for free if you send a request to the administrator using the <code>/become_user</code> command.</p>
            <!-- <button class="btn btn-outline-primary btn-lg w-100 mt-4">Get Started</button> -->
          </div>
        </div>
      </div>

      <!-- PAID Plan -->
      <div class="col">
        <div class="card h-100 pricing-card">
          <span class="badge gradient-custom text-white popular-badge px-4 py-2">UNLIMITED</span>
          <div class="card-body p-5">
            <h5 class="card-title mb-4">PAID</h5>
            <div class="price d-flex gap-1 align-items-center mb-4">
              <img src="images/icons/telegram-star.svg" width="42" height="42" />
              <h1 class="display-5 m-0">100<small class="fw-light">/mo</small></h1>
            </div>
            <ul class="list-unstyled feature-list">
              <li><i class="bi bi-check2 me-2"></i>Unlimited audio file downloads</li>
              <li><i class="bi bi-check2 me-2"></i>Unlimited info requests</li>
            </ul>
            <p>You can pay for this plain right in the bot via the <code>/get_full_access</code> command.</p>
            <!-- <button class="btn gradient-custom text-white btn-lg w-100 mt-4">Get Started</button> -->
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- }}} Pricing -->
