<!-- Screenshots {{{ -->
<section id="screenshots" class="Screenshots section gradient-banner">

  <!-- Shots Slider -->
  <div class="section-title" data-aos="fade-right">
    <h2>Screenshots</h2>
  </div>
  <div class="shots-slider slick-carousel" data-aos="fade-left">

    <div class="item">
      <img class="lazy-load" src="images/shots-2/menu.jpg">
      <p class="descr">The application menu.</p>
    </div>

    <div class="item">
      <img class="lazy-load" src="images/shots-2/video-details.jpg">
      <p class="descr">Video details.</p>
    </div>

    <div class="item">
      <img class="lazy-load" src="images/shots-2/start-and-registered.jpg">
      <p class="descr">Successful registration.</p>
    </div>

    <div class="item">
      <img class="lazy-load" src="images/shots-2/audio.jpg">
      <p class="descr">Downloaded audio.</p>
    </div>

    <div class="item">
      <img class="lazy-load" src="images/shots-2/details-1.jpg">
      <p class="descr">Fetched video details.</p>
    </div>

    <div class="item">
      <img class="lazy-load" src="images/shots-2/details-2.png">
      <p class="descr">Video details.</p>
    </div>

    <div class="item">
      <img class="lazy-load" src="images/shots-2/sending-audio-full-scrren.jpg">
      <p class="descr">Sending audio.</p>
    </div>

  </div>
</section>
<!-- }}} Screenshots -->

