<!-- Steps {{{ -->
<section id="usage" class="Steps section pt-0 pb-5 pull-top">

  <div class="container">

    <!--
    <div class="row text-center mb-5">
      <div class="col">
        <h2 class="color-primary">How to use</h2>
        <p class="section-description text-muted">You can use a <strong>GUEST</strong> usage plan, available by default, request an experimental <strong>FREE</strong> plan (also free at the moment), or pay for an unlimited <strong>PAID</strong> plan. You can see all the plains details right in the bot via <code>/plans</code> command.</p>
      </div>
    </div>
    -->

    <div class="row row-cols-1 row-cols-md-2 g-4">

      <!-- steps-card -->
      <div class="col-md-6 col-xl-3">
        <div class="steps-card h-100 p-4">
          <div class="icon-wrapper mb-4">
            1
          </div>
          <h4 class="steps-title text-center mb-3">Start Chatting</h4>
          <p class="steps-text text-center mb-0">Start chatting with <a href="https://t.me/tubecasterbot" c="l"
              class="external" title="External link: https://t.me/tubecasterbot" target="_blank"
              rel="noopener">@TubeCasterBot</a>, use <code>/start</code>, <code>/help</code> or <code>/plans</code>
            commands if you're there for the first time.</p>
        </div>
      </div>

      <!-- steps-card -->
      <div class="col-md-6 col-xl-3">
        <div class="steps-card h-100 p-4">
          <div class="icon-wrapper mb-4">
            2
          </div>
          <h4 class="steps-title text-center mb-3">Select Usage Plan</h4>
          <p class="steps-text text-center mb-0">Use default guest mode or request free plan via the
            <code>/become_user</code>, or buy an advanced usage plan via the <code>/get_full_access</code> command.
          </p>
        </div>
      </div>

      <!-- steps-card -->
      <div class="col-md-6 col-xl-3">
        <div class="steps-card h-100 p-4">
          <div class="icon-wrapper mb-4">
            3
          </div>
          <h4 class="steps-title text-center mb-3">Send YouTube Link</h4>
          <p class="steps-text text-center mb-0">Share a YouTube clip link from the application or just paste it into
            the chat. Use <code>/cast</code> command to download, or <code>/info</code> command to get the clip details.
          </p>
        </div>
      </div>

      <!-- steps-card -->
      <div class="col-md-6 col-xl-3">
        <div class="steps-card h-100 p-4">
          <div class="icon-wrapper mb-4">
            4
          </div>
          <h4 class="steps-title text-center mb-3">Download Audio</h4>
          <p class="steps-text text-center mb-0">Download generated MP3 file or listen it right from the chat. Check
            your status and statistics with <code>/status</code> and <code>/stats</code> commands.</p>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- Steps }} -->
