<!-- Warnings {{{ -->
<section id="warnings" class="Warnings section pt-0 pb-4">

  <div class="container py-4">
    <div class="row text-center mb-5">
      <div class="col">
        <h2 class="color-primary">Warnings</h2>
      </div>
    </div>

    <div class="row g-4">

      <div class="col">

        <p class="section-description bottom-description mb-2">The bot accepts only YouTube links at the moment. No
          TikTok, Vimeo, or any other links are accepted.</p>

        <p class="section-description bottom-description mb-2">The bot allows to retrieve just a few (currently, 3)
          audio files or video details in the guest state, by default. It's possible to obtain unlimited paid access, or
          ask for free test mode.</p>

        <p class="section-description bottom-description mb-2">The bot is working in experimental mode and that Google
          may change its algorithms and API, which may lead to temporary disruptions in the application.</p>

        <p class="section-description bottom-description mb-2">Downloading and processing audio files takes time and
        may require up to several minutes (it depends on the video size, the active queue size and youtube delays). If
        the bot has accepted your command for processing and it seems to you that the process has been delayed, please
        be patient. In case of long-term operations, the bot will send you notifications about the active process every
        minute.</p>
      </div>

    </div>
  </div>

</section>
<!-- }}} Warnings -->
