@import "../shared";

.footer-main {
  padding: 92px 0;
  background: #1a1b1f;

  @include tablet {
    padding: 50px 0;
  }

  .navbar-brand {
    color: #fff;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-width: 100%;
    span {
      display: inline-block;
      top: 3px;
      position: relative;
      color: $primaryColor;
    }
    img {
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.5em;
    }
  }
  a.navbar-brand {
    @include activeBasicLink;
  }

  .block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    ul.social-icon {
      display: flex;
      li {
        a {
          text-decoration: none;
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          // background: #3f3f43;
          color: $light;
          text-align: center;
          line-height: 38px;
          $size: 32px;
          & {
            width: $size;
            height: $size;
            i::before {
              font-size: $size;
            }
          }
          @include activeBasicLink;
        }
      }
    }

    @include tablet {
      // margin-bottom: 40px;
    }
  }

  .block-2 {
    h6 {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: $light;
      margin-bottom: 25px;
    }

    ul {
      padding: 0;

      li {
        margin-bottom: 10px;
        list-style: none;

        a {
          font-size: 14px;
          color: #6f6f71;
          transition: 0.2s ease;

          &:hover {
            color: $light;
          }
        }
      }
    }
  }
}

.footer-classic {
  background: #fafafa;
  text-align: center;
  padding: 110px 0;

  ul.social-icons {
    margin-bottom: 30px;

    li {
      @include mobile {
        margin-bottom: 10px;
      }

      a {
        padding: 0 20px;
        display: block;

        i {
          font-size: 25px;
          color: $dark;
        }
      }
    }
  }

  ul.footer-links {
    li {
      a {
        padding: 0 10px;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: $dark;
      }
    }
  }
}

// scroll-top-to button
.scroll-top-to {
  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: $primary-color;
  color: $light;
  transition: 0.3s;
  z-index: 999556;
  cursor: pointer;
  display: none;
  border-radius: 50%;
  &:hover {
    background: #333;
  }

  @include tablet {
    bottom: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}
