<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <span class="navbar-brand" href="/">
      <img class="lazy-load" src="images/logo.png" alt="Tubecaster logo" />
      <span>Tubecaster Telegram Bot</span>
    </span>
    <!-- {{{ Main menu begin -->
    <!-- Main menu togler -->
    <button class="navbar-toggler activeBasicLink" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="bi bi-list"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto activeTextLinkWrapper">
        <li class="nav-item"><a class="nav-link" href="#general">General info</a></li>
        <li class="nav-item"><a class="nav-link" href="#screenshots">Screenshots</a></li>
        <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
      </ul>
    </div>
    <!-- Main menu end }}} -->
  </div>
</nav>
